.git/**
.github/**
.vscode-test/**
node_modules/**
src/**
tmp/**
versions/**

.vscodeignore
.gitignore
package-lock.json
tsconfig.json
*.vsix
*.zip
*.log
*.tmp
.env

assets/icon-card-dots-3bars-3segments-light.png
